@page "/"

<PageTitle>Blazor Draggable Demo</PageTitle>

<h3 class="mt-4">Connector Component</h3>
<p>
    Try to drag and drop circles.
    <br />Lines-Connectors will adapt to changes.
    <br />Some Lines-Connectors connect at the bottom, some at the top. The left and right Connectors are also implemented, but not shown here.
</p>
<div class="mt-2">
    <ConnectorExample />
</div>