@page "/"

<PageTitle>Blazor Draggable Demo</PageTitle>

<h3 class="mt-4">Connector Component</h3>
<p>
    Try to drag and drop circles.
    <br />Lines-Connectors will adapt to changes.
</p>
<div class="mt-2">
    <MainPage />
</div>